@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 24px;
}

.btn-outline-danger {
    border-color: #dc3545;
    color: #dc3545;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: #fff;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #343a40;
}

.card {
    border: none;
    border-radius: 8px;
    margin-bottom: 30px;
}

.card-header {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.card-body {
    font-size: 16px;
    color: #343a40;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
